@import url('https://fonts.googleapis.com/css?family=Kumar+One|Roboto:400,700');


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #cc8b86; /* #7d4f50 #d1be9c */
	font-family: 'Roboto', sans-serif;

}

h2 {
	background-color: #d1be9c;
	margin: 10px 0;
	padding: 10px;
	font-family: 'Kumar One', cursive;
}

nav ul {
	/*padding: 10px 20px 30px 40px;*/
	overflow: auto;
	background-color: #aa998f;
	list-style: none; /* This takes the bullet points of lis in a ul. */
}

nav li {
	float: left;
	width: 33.33%;
	text-align: center;
	border: 2px;
}

nav a {
	color: #d1be9c;
	font-size: 20px;
	transition: .5s;
}

nav a:hover {
	color: #7d4f50;
}

.header {
	padding: 400px 0px;
	background-image: url("../images/dreamhome.jpeg");
	background-size: cover;
	background position: center;
	color: #7d4f50;
	text-align: center;
}

/* h1 {
padding: 140px 0px;

} */

/* h2 {
	text-align:center;
} */

.main-content {
background-color: #fff;
padding: 20px;
margin: 20px;
/*text-align: center;*/
}@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.img-50 {
	width: 50%;
	display: block;
	margin: 10px auto;
}

/* These are Utility Classes 
=======================================*/

.center-text {
	text-align: center;
}

p {
	text-align: center;
	font-size: 22px;
}